main.location{
    width: 100%;
    padding: 60px 0;
}

section.professional-highlight{
    display: flex;
}

section.professional-highlight h2{
    margin: 0 auto;
}

section.visit{
    display: flex;
    justify-content: space-around;
    background: #00abee07;
}

#mapid{
    width: 48%;
    height: 650px;
}


