main.trabalhe-conosco{
    width: 100%;
    height: auto;
    padding: 25px 0;
}

main.trabalhe-conosco .hidden{
    display: none;
}

main.trabalhe-conosco .appear{
    display: block;
}



